body{
  margin:0;
  background:#eef3fb;
  font-family:Arial;
}
.login-box,.card{
  width:900px;
  margin:80px auto;
  background:#fff;
  padding:40px;
  border-radius:18px;
}
.login-box{width:360px;text-align:center;}
input,textarea{
  width:100%;
  padding:14px;
  margin:8px 0;
  border-radius:12px;
  border:1px solid #ccc;
}
textarea{height:160px;}
.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
}
.buttons{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
  margin-top:20px;
}
button{
  padding:16px;
  border-radius:14px;
  border:none;
  background:#3b82f6;
  color:#fff;
  font-size:16px;
}
